body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    width: 30%;
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.web {
    font-size: large;
    color: #1e56a0;
}

.top-container {

    text-align: center;
    background-color: #d6e4f0;
    position: relative;
    padding-top: 100px;
    
}

p {
    width: 40%;
    margin: 20px auto auto auto;
}

.top-cloud {
    position: absolute;
    bottom:250px;
    left:7%;
}
.bottom-cloud {
    position: absolute;
    bottom: 480px;
    right:7%;
}

.middle-container {

}

.bottom-container {

}